
extends layout

block content

    h1="Notes List"

    div

        nav.pre-scrollable

            ol

                li

                    a(href="/notes") Note


                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note

                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



                li

                    a(href="/notes") Note



    a.btn.btn-primary.btn-lg(href="/notes" role="button") Add A New Note
    footer.footer

        p CIS 385