extends layout

block content

    h1 Edit Notes

        textarea

        button(onclick='Save()') Save Entry
        script.
            function Save() {
                alert("Ypur note entry has been saved!");
            }



        button(onclick='Delete()') Delete Entry
        script.
            function Delete() {
                alert("Your note entry has been deleted!");
            }
